# Python / Streamlit
__pycache__/
*.pyc
.streamlit/secrets.toml

# Model assets - allow model files
# model_assets/*
# !model_assets/.gitkeep

# Jupyter checkpoints
.ipynb_checkpoints/


all_files.zip
content/models/RF_cw.joblib
